.currency-to-exchange {
  display: flex;
  flex-direction: column;
  height: 50%;
  font-size: 35px;

  .wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
