@import "./variables";

.exchange-pair-rates {
  display: flex;
  padding: 6px 0;
  height: 3em;
  box-sizing: border-box;

  .exchange-pair-wrapper {
    flex-grow: 1;
    display: flex;

    .pair-rate-values {
      position: relative;
      left: 110px;
    }
  }

  button {
    border: none;
    background-color: transparent;
    color: $font-color;
    font-size: 14px;
    font-weight: 400;
    outline: none;

    &:disabled {
      color: $disabled-font-color;
    }
  }
}
